body {font-family: "Times New Roman", Georgia, Serif;}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.w3-right .w3-bar-item {font-size: 18px; }

.nav-logo {
    height: 80px;
    vertical-align: middle;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 24px;
    font-weight: bold;
}

.button{
    border-radius: 12px ;
    background-color: white;
    border: solid grey;
    color:black;

}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
    padding-left: 20pX;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size:30px;
    text-align: center;

}

.button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    color: rgba(243, 238, 245, 0.978);
    background: rgb(145, 92, 182);
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-color:  rgb(145, 92, 182);
}

.button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 20px rgba(145, 92, 182, .4);
}

